body {
    font-family: Swis721 LtEx BT;
}


/*navbar*/

.navbar {
    background-color: #202020;
    /* color: #f1f1f1; */
    padding: 15px 8%
}

.navbar .nav-link {
    color: #f1f1f1
}


/*carousel*/

.carousel-caption h1 {
    margin-top: -40vh;
    margin-left: 20vw;
    font-size: 60px;
    font-weight: bold;
}


/*Trayectori*/

.background-hero {
    background-image: url('../img/sllider-trayectoria/slider-trayectoria.jpg');
    background-attachment: absolute;
    background-size: cover;
    height: 600px;
}

.trayectoria,
.quienes-somos,
.sub-meenu-somos {
    display: flex;
    justify-content: center
}

.sub-meenu-somos li {
    margin: 0 15px;
}

.sub-meenu-somos li.active {
    list-style: disc;
}

.trayectoria h1 {
    font-size: 60px;
    color: #f1f1f1;
    margin-top: 45%;
}

.quienes-somos {
    padding: 30px 0;
}

.sub-meenu-somos a {
    display: block;
    margin: auto;
    color: #4e4e4e;
    padding: 0;
}

.text-team-content {
    width: 84%;
    justify-content: end;
    margin-top: 20%;
}

.rigt-text-content img {
    display: block;
    margin: auto;
}

.rigt-text-content img {
    border-radius: 50%;
    margin-top: 10%;
}

#donde img {
    display: block;
    margin: auto;
}

.img-mueve {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-mueve img {
    margin: 5px 5px
}

#donde,
#mueve,
#aliados,
#clu,
#pro {
    display: none
}


/*SERVICES*/

.background-services {
    background-image: url('../img/servicios/slider01.jpg');
    background-attachment: absolute;
    background-size: cover;
    height: 600px;
}

.servicios h1 {
    font-size: 60px;
    color: #f1f1f1;
    margin-top: 25%;
}

.services-nav .sub-meenu-somos li {
    margin: 0 105px;
}

.rigt-text-services {
    margin-top: 80px
}

.content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
}

.line-services {
    max-width: 70px;
    border-top: solid 4px;
    margin-top: -10px;
}

.content-img-clu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
}

.content-img-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.text-team-content-pro {
    margin-top: 120px;
}

.rigt-text-services-pro {
    margin-top: 150px
}


/*footer*/

.socials {
    display: table;
    align-items: center;
    margin: 20px auto 5px;
    height: 40px;
}

.socials i {
    font-size: 30px;
    margin: 0 5px;
    color: #4e4e4e
}

.socials a {
    color: #4e4e4e;
    position: relative;
    top: -5px;
}